 input[type=range] {
     box-sizing: border-box;
     appearance: none;
     width: 400px;
     margin: 0;
     padding: 0 2px;
     overflow: hidden;
     border: 0;
     border-radius: 1px;
     outline: none;
     background: linear-gradient(grey, grey) no-repeat center;
     background-size: 100% 2px;
     pointer-events: none;
 }

 .Range {
     position: relative;
     height: 50px;
 }

 .FilterGroup {
     width: 50%;
     margin: 1rem;
 }

 .FilterContainer {
     display: inline-flex;
     width: 100%;
 }

 div[aria-labelledby="rolDD"] {
     overflow: scroll !important;
     max-height: 150px !important;
     transform: none !important;
 }