@media (prefers-reduced-motion: no-preference) {
    .NotFoundLogo {
        height: 30vh;
        animation: NotFound-logo-spin infinite 20s linear;
    }
}


@keyframes NotFound-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}