.Header {
    background: #f76129;
    background-image: linear-gradient(to right, orangered, #962e09);
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 10;
}

.SearchBar {
    border-radius: 50px 50px 50px 50px;
    background: #f76129;
    background-image: linear-gradient(to right, orangered, #f76129);
    border: none;
}