.searchBar {
    width: 50%;
    height: 100%;
    margin: auto;
    position: inherit;
    top: 50%;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2.5%;
    height: 300px;
    position: relative;
    justify-content: center;
}

.titleContainer {
    width: 100%;
    text-align: center;
    color: aliceblue;
}