.Footer {
    background: aliceblue;
    background-image: linear-gradient( darkred, orangered);
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}